langchain
python-dotenv
langchain_community
bs4
langchain-ollama
faiss-cpu
langchain_classic
streamlit
ipykernel
langchain_groq
langchain_openai
langchain_core
langchain-google-genai
fastapi
uvicorn
langserve
sse_starlette
transformers
sentencepiece
torch